{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}
{% block content %}
<h1>Корзина</h1>
{% if user.is_authenticated %}
    {% if books %}
        <ul>
            {% for book in books %}
                <li>{{ book.title }} - {{ book.price }} руб.</li>
            {% endfor %}
        </ul>
        <p>Общая стоимость: {{ total_price }} руб.</p>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% else %}
    <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы увидеть содержимое корзины.</p>
{% endif %}
{% endblock %}
